.vt-wrapper {
  font-family: sans-serif;
  border: 1px solid #ccc;
}

.vt-header-wrapper {
  color: white;
  overflow-y: scroll;
}

.vt-header {
  display: flex;
  font-weight: bold;
  background-color: #2e2e2e;
  border-bottom: 1px solid #444;
}

.vt-container {
  overflow-y: auto;
  position: relative;
}

.vt-inner {
  position: relative;
  width: 100%;
}

.vt-content {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.vt-row {
  display: flex;
  border-bottom: 1px solid #444;
}

.vt-cell {
  flex: 1;
  padding: 8px;
  border-right: 1px solid #333;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vt-header-cell {
  border-right: 1px solid #444;
}
