.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  overflow-y: auto;
  position: relative;
  border: 1px solid #ccc;
  font-family: sans-serif;
}
.inner {
  position: relative;
  width: 100%;
}
.content {
  /* position: absolute; */
  width: 100%;
  left: 0;
  top: 0;
}
.header {
  display: flex;
  background-color: #f5f5f5;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  margin: 0 5px;
}
.table-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 5px;
}
.row {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
